* {
	margin: 0;
	padding: 0;
}
.content-header {
	padding: 0 100px;
	display: block;
	-webkit-box-shadow: 1px 1px 10px rgb(121, 121, 121);
	-moz-box-shadow: 2px 2px 5px #999;
}
.limiter-width-page{
	max-width: 1260px;
	margin: auto;
}
header {
	display: block;
	font-family: 'Roboto Condensed';
	max-width: 1240px;
	margin: auto;
}
.header-page{
	width: 100%;
	height: 90px;
	background-color: black;
	z-index: 200;
	position: relative;
	display: flex;
}
.header-page > .header-logo{
	width: 90px;
	height: 90px;
	background-image: url('../img/logo/logo.png');
	background-size: cover;
}
.menu_bar {
	display: none;
}

header > nav ul {
	overflow: hidden;
	list-style: none;
	display: flex;
	float: right;
}
header > nav ul li {
	height: 70px;
	display: inline-flex;
	padding: 0 10px;
	align-items: center;
}
header > nav ul li:first-child a {
	display: none;
}
header > nav ul li a {
	color: rgb(170, 170, 170);
	display: block;
	text-decoration: none;
	font-size: 1.1em;
	transition: all 0.2s;
}

header > nav ul li span {
	margin-right: 10px;
}

header > nav ul li a:hover {
	opacity: 0.7;
}

header,
header > nav,
header > nav ul,
header > nav ul li {
	height: 80px;
}
section,
div {
	font-family: 'Meera Inimai';
}
/* ABRIR Y CERRAR BOTON */
.open-close {
	display: none;
}

/* MENÚ VISIBLE */
.menu-visible{
	display: flex;
	align-items: center;
}
.menu-visible nav{
	width: 100%;
}
.menu-visible nav ul{
	overflow: hidden;
	list-style: none;
	display: flex;
	float: right;
}
.menu-visible nav ul li{
	height: 50px;
	display: inline-flex;
	padding: 0 20px;
	align-items: center;
}
.menu-visible nav ul li a{
	color: rgb(170, 170, 170);
	display: block;
	text-decoration: none;
	font-size: 1.1em;
	transition: all 0.2s;
}
.nabvar{
	width: 100%;
	height: 40px;
	background-color: red;
}

/* LOGO */
.logo-nav {
	width: 250px;
	height: 80px;
	float: left;
	display: flex;
}
.slogan {
	display: flex;
	align-items: center;
}

.logo-img {
	padding: 8px;
}
.logo-nav .logo-img {
	display: flex;
	align-items: center;
}
.logo-nav .logo-img img {
	height: 64px;
}
.wabe {
	position: absolute;
	bottom: -10px;
	width: 100%;
	z-index: 100;
	height: 150px;
}
/* CABALLOS CONTAINER */
.separador-text{
	width: 20%;
    height: 3px;
    background: rgb(255, 187, 60);
    border: none;
    border-radius: 5px;
    min-width: 40px;
    margin-bottom: 10px;
}
.middle-container {
	width: 100%;
	padding: 0 5px;
}
.middle-container > img{
	width: 100%;
	border-radius: 20% 20% 60% 25%; 
}
.item-list {
	margin-top: 20px;
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(3, 1fr);
}
.item-product{
	padding: 5px;
	cursor: pointer;
	transition: all 0.5s;
}
.item-product:hover{
	box-shadow: 0px 5px 5px black;
}
.item-product .item-image img{
	width: 100%;
	border-radius: 5px;
}
.item-product .price-product{
	padding: 10px 0;
	color: rgba(196, 131, 11, 0.781);
}

.buy-product, .show-more-button{
	width: 100%;
	font-weight: 1.1em;
	padding: 10px 0;
	border-radius: 2px;
	border: none;
	color: white;
	cursor: pointer;
	letter-spacing: 5px;
	font-weight: bold;
}
.buy-product{
	background-color: rgb(214, 96, 12);
}
.show-more-button{
	margin-top: 20px;
	background-color: rgb(216, 137, 81);
}
/* SECCIONES */
.element-section {
	height: 710px;
	background-image: url(../img/backgrounds/caballo_1080x620_blur.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	position: relative;
	max-height: 704px;
	font-family: 'Source Sans Pro';
}
.element-background-overlay {
	background-color: transparent;
	background: radial-gradient(#85c2539d 60%, #5f5f5f);
	backdrop-filter: blur(8px);
	position: absolute;
	opacity: 0.2;
	width: 100%;
	height: 100%;
	z-index: 10;
}
.element-pading-section {
	padding: 150px 80px 0 80px;
	display: flex;
}
.content-element-header-info {
	max-width: 1440px;
	margin: auto;
}
.element-info-section {
	padding: 0 50px 50px 0;
	position: relative;
	margin-bottom: 100px;
	z-index: 20;
}
.element-info-section .info-title-section {
	font-size: 4em;
	text-shadow: rgb(0, 0, 0) 0 0 10px;
	color: rgb(255, 255, 255);
}
.element-info-section .info-subtitle-section {
	font-size: 1.5em;
	color: white;
}
.element-info-section .info-button-section {
	margin-top: 70px;
}

.button-info-section {
	width: 350px;
	height: 50px;
	background: rgb(206, 0, 45);
	color: white;
	font-size: 1em;
	font-family: 'Source Sans Pro';
	line-height: 1.44em;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 10px #000;
	bottom: 50px;
	transition: all 0.2s;
}
.button-info-section:hover {
	background: rgb(228, 64, 100);
	cursor: pointer;
}
/* footer */

.element-section-footer {
	padding: 70px 40px;
	background: rgb(88, 73, 62);
	font-family: 'Meera Inimai';
}

.nav-bar {
	background-color: #e38646;
	padding: 28px;
	display: block;
	color: white;
	cursor: pointer;
	font-size: 1.5em;
	width: 100%;
}
.menu,
.submenu {
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu {
	background: #555;
	width: 100%;
	transition: all 0.5s;
}
.menu_link {
	display: block;
	padding: 20px;
	color: white;
	font-size: 1.2em;
	text-decoration: none;
	transition: all 0.2s;
}
.menu_link:hover {
	opacity: 0.9;
}
.submenu {
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}

.mostrar {
	margin-left: 0;
}
.container_submenu {
	font-family: 'Meera Inimai';
	list-style: none;
	border-bottom: solid 1px rgba(151, 86, 40, .4);
}
.rotate-item {
	background: rgba(151, 86, 40, .4);
	width: 20px;
	height: 20px;
	transition: all 0.2s;
	display: inline-flex;
	padding: 7px 7px;
	border-radius: 50%;
	align-items: center;
	float: right;
}
.text-title-block {
	width: 50%;
	display: inline-flex;
}
.rotate-anim {
	transform: rotate(-180deg);
}

/* BLOQUE ÚNICO FOOTER*/
.element-block-unic {
	width: 100%;
	margin: auto;
	background: #fff;
	color: #5f5f5f;
}
.element-row {
	padding: 20px;
	display: block;
	font-size: 1.1em;
	text-align: center;
}
.element-row .info-row-btn {
	text-decoration: none;
	color: rgb(129, 129, 129);
}
.slogan {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	padding: 10px;
}
.element-row .slogan img {
	width: 150px;
	border-right: 50px;
	border-radius: 2px;
	background: #fff;
}
.red-social-boton {
	width: 30px;
	height: 30px;
	border: solid 2px rgb(129, 129, 129);
	border-radius: 45%;
	display: inline-block;
	margin: 0 5px;
}
.red-social-boton a {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: rgb(129, 129, 129);
	font-size: 1.2em;
}
.submenu-btn {
	background: rgb(92, 92, 92);
}
.submenu .menu_link {
	background: #ebeff8;
	padding: 20px 30px;
	color: rgb(129, 129, 129);
}

/* CUERPO  */
.body-info-section {
	padding: 80px 100px;
}
.content-secton-info {
	max-width: 1240px;
	margin: auto;
}

/* tarjeta */
/*Tarjeta index*/
.middle-box {
	margin: 0 0 50px 0;
}
.middle-box .container-responsive-img {
	width: 100%;
	overflow: hidden;
}
.middle-box .title-box {
	padding: 10px 0;
	font-weight: bolder;
	color: #001d5f;
}
.middle-box:last-child {
	margin-top: 20px;
}
.login-button {
	width: 100%;
	height: 50px;
	background: #001d5f;
	color: white;
	font-size: 1em;
	font-family: 'Source Sans Pro';
	font-weight: bold;
	line-height: 1.44em;
	border: none;
	border-radius: 5px;
	bottom: 50px;
}
.resalt-text {
	font-size: 1.5em;
	color: #ce002d;
	font-weight: bold;
}
.container-target {
	margin: 20px auto 0 auto;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}
.middle-container:last-child{
	order: 1;
	margin-bottom: 20px;
}

.middle-container:first-child{
	order: 2;
}

.middle-target {
	padding: 20px;
}

.middle-target:first-child {
	background: rgb(206, 0, 45);
	padding-right: 25px;
}
.middle-target:last-child {
	/* background: blue; */
	padding-left: 25px;
}
.middle-target:last-child .row-target {
	margin: 10px 0;
	font-weight: bold;
	font-size: 1.1em;
}
.row-target {
	display: flex;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 2px dashed #fff;
}

.title-footer-target {
	display: block;
	color: #fff;
	font-size: 1.1em;
	font-weight: bold;
}
.red {
	background: #fff;
	color: rgb(206, 0, 45);
}
.text-blue {
	color: rgb(0, 29, 95);
}
.blue {
	color: #fff;
	font-weight: bold;
	background: rgb(0, 29, 95);
}
.title-target {
	display: block;
	font-size: 1.3em;
	font-weight: 900;
	padding: 5px 10px;
	text-align: center;
}
.num_resalt {
	display: inline-block;
}
.age {
	width: 90px;
	font-weight: bold;
	font-size: 1.1em;
}
.age .age_name {
	color: #fff;
}
.age .age_num {
	color: #00276e;
}
.details {
	padding: 5px 0 0 5px;
	font-size: 1.1em;
	color: #fff;
	font-weight: bold;
}
.details .row-detail .num_resalt {
	background: #fff;
	font-size: 1.2em;
	color: rgb(206, 0, 45);
	margin-left: 5px;
	padding: 3px 10px;
}

.oval {
	background: rgb(0, 29, 95);
	font-size: 1.5em;
	color: #fff;
	padding: 8px 10px;
	width: 200px;
	text-align: center;
	border-radius: 20px;
	border: 5px solid rgb(206, 0, 45);
	margin-left: auto;
}
/* CONTENEDOR */
.title-text {
	color: rgba(151, 86, 40);
	margin: 0 0 5px 0;
	font-size: 2em;
}
.text-about {
	font-size: 1.1em;
	color: rgb(58, 56, 54);
	line-height: 1.5em;
}
.full-container {
	display: block;
}
/* FOOTER */
.footer {
	padding: 20px 50px;
	background: #5f5f5f;
	color: #fff;
	display: block;
	font-size: 0.8em;
}

.legality a {
	text-decoration: none;
	color: #fff;
	padding: 0;
	margin-right: 10px;
}
.legality {
	margin-left: auto;
}
.derechos-autor,
.legality {
	display: block;
}
input,
button {
	outline: none;
}

@media (min-width: 1024px) {
	.nav-bar {
		display: none;
	}
	.menu {
		margin-left: 0;
	}
	.submenu {
		height: 243px;
		border-radius: 0 0 5px 5px;
	}
	.menu,
	.element-section-footer {
		display: flex;
	}
	.element-section-footer-block {
		width: auto;
		display: inline-flex;
		margin: 0 5px;
		float: right;
	}
	/* BLOQUES CONTENEDORES FOOTER */
	.container-section-blocks {
		display: inline-block;
		margin-left: auto;
		width: 70%;
	}
	.middle-target {
		width: 100%;
	}
	.element-unic-section-footer-block {
		width: max-content;
		display: inline-flex;
	}
	.element-section-footer-block .container_submenu,
	.text-title-block {
		width: 100%;
	}
	.container_submenu,
	.element-unic-section-footer-block .container_submenu {
		border-bottom: none;
	}
	/* BLOQUE ÚNICO */
	.rotate-item {
		display: none;
	}
	.element-block-unic {
		width: 250px;
		background: #fff;
		color: #5f5f5f;
	}
	.submenu-btn {
		border-radius: 5px 5px 0 0;
		font-weight: bold;
	}
	/* FOOTER */
	.footer {
		padding: 20px 50px;
		background: #5f5f5f;
		color: #fff;
		display: flex;
		font-size: 0.8em;
	}
	.container-footer {
		display: flex;
		width: 100%;
		max-width: 1440px;
		margin: auto;
	}
	.content-section-footer {
		width: 100%;
		max-width: 1240px;
		margin: auto;
		display: flex;
	}
	.container-target {
		display: flex;
	}
	.middle-container:first-child{
		order: 1;
	}
	.middle-container:last-child{
		order: 2;
	}
	.legality a {
		text-decoration: none;
		color: #fff;
		padding: 0 10px;
	}
	.legality {
		margin-left: auto;
	}
	.derechos-autor,
	.legality {
		display: inline-block;
	}
}
@media (max-width: 1000px) {
	.element-section {
		height: auto;
	}
}
/* PANTALLAS GRANDES */
@media screen and (max-width: 2850px) {
	.content-header {
		background: #000;
		width: calc(100% - 40px);
		padding: 0 20px;
		position: fixed;
		display: block;
		z-index: 200;
	}
	.separator {
		width: 100%;
		height: 140px;
	}
	header > nav {
		width: 80%;
		max-width: 380px;
		height: calc(100% - 45px);
		left: -100%;
		position: fixed;
		top: 140px;
		z-index: 80;
		background: rgb(66, 64, 63);
		border-radius: 0 0 10px 0;
		overflow-y: scroll;
	}
	header nav::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	
	header nav::-webkit-scrollbar:vertical {
		width:10px;
	}
	
	header nav::-webkit-scrollbar-button:increment,header nav::-webkit-scrollbar-button {
		display: none;
	} 
	
	header nav::-webkit-scrollbar:horizontal {
		height: 10px;
	}
	
	header nav::-webkit-scrollbar-thumb {
		background-color: #b37f55;
		border-radius: 20px;
		border: 2px solid rgba(151, 86, 40, .4);
	}
	
	header nav::-webkit-scrollbar-track {
		border-radius: 10px;  
	}
	#menu {
		transition: all 0.3s;
	}
	.mostrar {
		left: 0;
		/* overflow: hidden; */
		transition: all 0.3s;
	}
	header > nav ul {
		display: block;
		height: auto;
		float: none;
	}
	header > nav ul li:first-child a {
		display: block;
		padding: 10px 5px;
		text-align: right;
	}
	header > nav ul li:first-child {
		height: 35px;
		border-bottom: 2px solid #fff;
		margin-bottom: 20px;
	}
	header > nav ul li {
		/*El display block se usa para que el li abarque todo el bloque de ancho*/
		display: block;
		float: none;
		height: 70px;
	}
	header > nav ul li a {
		color: #fff;
		padding: 5px 20px;
		height: calc(100% - 10px);
	}
	header,
	.logo-nav {
		height: 50px;
		overflow: hidden;
	}
	.logo {
		display: none;
	}
	.nav-logo {
		padding: 1px;
	}
	.logo-nav {
		width: 180px;
	}
	.menu_bar {
		display: block;
		width: 50px;
	}
	.menu_bar .bt-menu {
		height: 30px;
		display: block;
		padding: 10px;
		color: gray;
		text-decoration: none;
		font-weight: bold;
		font-size: 25px;
		align-items: center;
		-moz-box-sizing: border-box;
		position: relative;
		z-index: 120;
	}
	.menu_bar .bt-menu .icon-align {
		float: left;
		display: flex;
		height: 100%;
		align-items: center;
	}
	.open-close {
		display: block;
	}

	/* Logo */
	.logo-nav .logo-img img {
		height: 40px;
		width: auto;
	}

	/* Secciones */
	.element-pading-section,
	.body-info-section {
		padding: 70px 40px;
	}
	.element-info-section {
		padding: 20px 0;
		margin-bottom: 50px;
	}
	.element-info-section .button-info-section {
		width: 230px;
		bottom: 30px;
	}
	.wabe {
		height: 100px;
	}
	.element-section-footer {
		padding: 20px 40px;
	}
}
/* PANTALLAS PEQUEÑAS */
@media screen and (max-width: 490px) {
	.element-info-section .info-title-section {
		font-size: 2.5em;
		line-height: 1em;
	}
	.element-info-section .info-subtitle-section {
		font-size: 1.8em;
		line-height: 1em;
	}
	.element-pading-section,
	.body-info-section {
		padding: 35px 20px;
	}
	.element-info-section {
		padding: 30% 0 0 0;
	}
}
/* PANTALLAS ENANAS */
@media screen and (max-width: 325px) {
}
